#nav-container {
  width: 100%;
  background-color: black;
  position: fixed;
  z-index: 1;
}

#nav-container .nav-contents {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1.5fr;
      grid-template-columns: 1fr 1.5fr;
  padding: 10px 0px;
}

#nav-container .nav-contents .btn {
  background-color: transparent;
  width: 4px;
  margin: none;
  border: none;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

#nav-container .nav-contents .btn i {
  color: white;
  font-size: 2rem;
  right: 0;
}

#nav-container .left-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#nav-container .left-contents img {
  width: 80px;
  height: 40px;
  padding: 5px 0px;
}

#nav-container .right-contents .btn-2 {
  padding: 0px 20px;
  font-size: 2rem;
  border-radius: 2px;
  outline: none;
  border: none;
  margin-left: 25px;
}

#nav-container .right-contents .btn-2:hover {
  background-color: #ff5924;
  -webkit-transition: ease-in 0.5s;
  transition: ease-in 0.5s;
  color: white;
}

#nav-container .right-contents ul li {
  padding: 5px 20px;
  font-size: 2rem;
}

#nav-container .right-contents .lnk {
  text-transform: capitalize;
  color: white;
  text-decoration: none;
  letter-spacing: 1px;
}

#nav-container .right-contents .lnk:hover {
  color: #ff5924;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

@media only screen and (max-width: 600px) {
  #nav-container .nav-contents .btn {
    display: block;
    margin-left: 10%;
  }
  #nav-container .nav-contents #hidden {
    top: 7.5%;
    left: 0px;
    height: auto;
    width: 100%;
    margin-left: 20%;
    background-color: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #nav-container .nav-contents .right-contents {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  #nav-container .nav-contents .btn {
    display: block;
    margin-left: 60%;
  }
  #nav-container .nav-contents #hidden {
    top: 7.5%;
    left: 0px;
    margin-left: 50%;
    height: auto;
    width: 100%;
    background-color: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #nav-container .nav-contents .right-contents {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  #nav-container .nav-contents .btn {
    display: block;
    margin-left: 73%;
  }
  #nav-container .nav-contents #hidden {
    top: 7.5%;
    left: 0px;
    margin-left: 50%;
    height: auto;
    width: 100%;
    background-color: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #nav-container .nav-contents .right-contents {
    display: none;
  }
}

@media only screen and (min-width: 992px) {
  #nav-container .nav-contents .btn {
    display: block;
  }
  #nav-container .nav-contents #hidden {
    top: 7.5%;
    margin-left: 50%;
    height: auto;
    width: 100%;
    background-color: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #nav-container .nav-contents .right-contents {
    display: none;
  }
}

@media only screen and (min-width: 1200px) {
  #nav-container .nav-contents .btn {
    display: none;
  }
  #nav-container .nav-contents .right-contents {
    display: block;
  }
  #nav-container .nav-contents .right-contents ul li {
    display: inline;
  }
}
/*# sourceMappingURL=nav.css.map */