
$font : 'Rubik', sans-serif;
$color : #0d0620;
$color1 : #ffffff;
$color2 : #9e9ba5;
$color3 : #440785;
$color4 : #2a2440;
$color5 : #2c2542;

#authBlock{
    width: 500px;
    margin: 10px auto;
    height: auto;
    article{
        height: 100vh;
        width: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        > div{
            background: $color5;
            color: $color1;
            padding: 30px;
            border-radius: 2px;
        }
        div{

            h1{
                font-weight: bold;
                text-transform: capitalize;
                text-align: center;
                padding: 10px;
                font-size: 2rem;
            }
            p{
                text-align: center;
                padding: 10px;
                font-size: 1.7rem;
            }
            form{
                width: 100%;
                label{
                    font-weight: bold;
                    font-size: 16px;
                    padding: 2px 0 0;
                    position: absolute;
                    top: -3px;
                    left: 0;
                }
                .form-group {
                    position: relative;
                    font-size: 1.5rem;
                    text-transform: capitalize;
                  }
                input{
                    width: 100%;
                    border-radius: 1px;
                    background-color: transparent;
                    border-bottom: 1px solid #9184bc;
                    color: #ffffff;
                    border-top: none;
                    border-left: none;
                    border-right: none;
                    padding: 10px;
                    margin: 10px 0;
                    font-size: 1.5rem;
                }
            }
        }
    }
}

input:focus + label,
input:focus-within + label {
  position: absolute;
  top: 0;
  transition: ease all 0.7s;
  font-size: 10px;
  opacity: 0.6;
}
input:focus {
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: #fff;
  background-color: transparent !important;
  transition: background-color 5000s ease-in-out 0s;
}

#authBlock button,
.phoneBtn {
  width: 100%;
  border-radius: 4px;
  background: linear-gradient(263deg, #5909b3, #7f0dff);
  color: #fff;
  outline: none;
  border: none;
  margin: 10px 0;
  padding: 15px 0;
}
.register_Block {
  display: flex;
  padding: 10px 0;
  align-items: center;
  justify-content: space-between;
}

.register_Block a {
  color: #b085e1d1;
  flex: 1 1;
  text-decoration: none;
  font-size: 1.3rem;
  text-shadow: 1px 2px 2px #111;
}
.register_Block a:last-child {
  display: flex;
  justify-content: flex-end;
  margin: 10px 20px;
}

.phoneBtn {
  margin: 14px 0;
  width: 100%;
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 10px;
  background: #0574f6;
  text-transform: capitalize;
}
.register_Block{
  display: flex;
  padding: 10px 0px;
  align-items: center;
  justify-content: space-around;
  a{
    color: $color1;
    flex: 1 1;
    text-decoration: none;
    font-size: 1.3rem;
    text-shadow: 1px 2px 2px $color2;
  }
  a:last-child{
    display: flex;
    justify-content: flex-end;
    margin: 10px 20px;
  }
}
.authMenu a img{
  width: 35px;
  height: 35px;
  position: absolute;
  top: 13px;
  border-radius: 100%;
}