#App {
  text-align: center;
  font-size: 2.5rem;
  padding-top:65px;
}

.App-header {
  // margin-top:25px;
  background-color: #282c34;
  // min-height: 10vh;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  .display-1{
    font-size: 3rem;
  }
}

.user-container {
  display: grid ;
  justify-content: center;
  align-items: center;
  // flex-direction: column;
  // padding: 12px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  font-size: 1.8rem;
  padding:20px 0px 40px 112px;
}

.info-item {
  width: 200px;
  // height: 5vh;
  line-height: 12px;
  padding: 35px;
  border: 2px solid rgb(167, 141, 142);
  align-self: center;
  background-color: #f0f0f0;
  border-radius: 15px;
  margin: 0px 0px 15px 0px;
}

.display-1{
  font-size: 3rem;
}
.card1{
  margin: 20px 0px 10px 470px ;
  .card-body1{
    border: 2px solid rgb(93, 161, 189);
    border-radius: 15px;
  }
}